syslocation Campzone
syscontact campzone@veetikut.com
sysname {{ ansible_hostname }}

com2sec readonly default 4k2902kjde9he9wSHJ1jks
group MyROGroup v2c readonly
view all included .1
access MyROGroup "" any noauth exact all none none
